@font-face {
    font-family: 'gotham_problack';
    src: url('../fonts/GothamPro/gothaprobla-webfont.eot');
    src: url('../fonts/GothamPro/gothaprobla-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamPro/gothaprobla-webfont.woff2') format('woff2'),
         url('../fonts/GothamPro/gothaprobla-webfont.woff') format('woff'),
         url('../fonts/GothamPro/gothaprobla-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_proregular';
    src: url('../fonts/GothamPro/gothaproreg-webfont.eot');
    src: url('../fonts/GothamPro/gothaproreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamPro/gothaproreg-webfont.woff2') format('woff2'),
         url('../fonts/GothamPro/gothaproreg-webfont.woff') format('woff'),
         url('../fonts/GothamPro/gothaproreg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_probold';
    src: url('../fonts/GothamPro/gothaprobol-webfont.eot');
    src: url('../fonts/GothamPro/gothaprobol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamPro/gothaprobol-webfont.woff2') format('woff2'),
         url('../fonts/GothamPro/gothaprobol-webfont.woff') format('woff'),
         url('../fonts/GothamPro/gothaprobol-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gotham_prolight';
    src: url('../fonts/GothamPro/gothaprolig-webfont.eot');
    src: url('../fonts/GothamPro/gothaprolig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamPro/gothaprolig-webfont.woff2') format('woff2'),
         url('../fonts/GothamPro/gothaprolig-webfont.woff') format('woff'),
         url('../fonts/GothamPro/gothaprolig-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}